<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {%block titleblock%}
    {% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link href="/static/css/template.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="/static/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
{%block headblock%}
{% endblock %}

    <script src="/static/js/modernizr.custom.63321.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#">
                    <i class="fa fa-home"></i>  <span class="light">Home</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                    </li>

                    <li>
                        <a class="page-scroll" href="#"><i class="fa fa-user"></i> Posting History</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#"><i class="fa fa-heart"></i> Helping History</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#"><i class="fa fa-envelope-o"></i> Discovery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#"><i class="fa fa-area-chart"></i> Account </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="intro">


    <!-- letter content -->
    <div class="intro-body">

        <div class="intro-body-body1">
            {% block view_block_left %}{% endblock %}
        </div>

        
        <div class="intro-body-body2">

              
                {% block view_block_middle %}{% endblock %}
           
            
        </div>
        

        <!-- comment box, just for get -->
        <div class="intro-body-body3">
            {% block view_block_right %}{% endblock %}

        </div>

    </div>


    <!-- function -->
    <div class="intro-footer">
    
        <!-- sign in button -->
        <div class = "intro-footer-signin">
            {% block footer_function_block_left %}{% endblock %}
        </div>

        <div class = "intro-footer-get">
            {% block footer_function_block_middle %}{% endblock %}
        </div>


        <!-- sign up -->
        <div class = "intro-footer-signup">
            <a href="{%url 'logout'%}" class="btn btn-circle">
                <i class="fa fa-power-off animated"></i>
            </a>
        </div>

    </div>


</div>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- login home js -->
    <script src="/static/js/login_home.js"></script>
    <script src="/static/js/utils.js" type="text/javascript"></script>

    {% block extra_script %}
    {% endblock %}

</body>

</html>
