{% extends 'base2_template.html' %}

{%block titleblock%}
Oddjobs Profile
{% endblock %}


{% block navBar %}
<li ><a href="{%url 'home' %}">Home <span class="sr-only">(current)</span></a></li>
<li ><a href="{%url 'askingHistory'%}">Asking History </a></li>
<li><a href="#">Helping History</a></li>
<li><a href="#">Discover</a></li>
<li class="active"><a href="{%url 'showProfile' userinfo.user.id%}">Account</a></li>
{% endblock %}

{% block mainPage%}



<div class = "row">
    <div class = "col-md-2">
        
    </div>
    <div class = "col-md-8">
    <h3 align="center">
        Profile
    </h3>
    <br>
    <br>




    <div class="form-group">
      <label class="control-label" for="focusedInput">Firstname</label>
      <input class="form-control" id="focusedInput" type="text" value="{{ firstname }}">
    </div>


    </div>
    <div class = "col-md-2">
        
    </div>
</div>
        
{% endblock %}

